/* reset */
body, div, ul, li, ol, dl, dd, dt, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, select, input,iframe{margin:0; padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:14px; font-weight:normal;}
body, input, textarea, select, button,iframe{font-family: "Noto Sans KR", sans-serif;}
a {text-decoration:none; color:#4f4f4f; font-family: "Noto Sans KR";}
li, ul, ol {list-style:none;}
img {border:0;}

.title {padding:50px 0; text-align: center; font-size:30px;}

.por_list {max-width:1000px; margin:0 auto; padding-bottom:80px;
    .cou {font-size:12px; color:#999;}
    table {width:100%; margin-top:20px; border-collapse: collapse; font-size:14px;
        th {padding:10px 0; text-align:center; background:#ddd; color:#222; border:1px solid #ccc;}
        td {padding:7px; border:1px solid #ccc; text-align:center;
            &:first-child {text-align:left; font-weight:500;}
            a {display:inline-block; background:#222; color:#fff; padding:2px 10px;}
            br + a{margin-top:3px;}
        }
    }
}